trunk/libs/yana/test/resources/dtd/system.config.dtd

<!-- auto-generated DTD -->
<!ELEMENT system (date|default|php_self|plugincache|tempdir|configdrive|configdir|plugindir|pluginfile)*>
<!ELEMENT configdir (#PCDATA)>
<!ELEMENT configdrive (#PCDATA)>
<!ELEMENT tempdir (#PCDATA)>
<!ELEMENT plugincache (#PCDATA)>
<!ELEMENT plugindir (#PCDATA)>
<!ELEMENT pluginfile (#PCDATA)>
<!ELEMENT php_self (#PCDATA)>
<!ELEMENT default (#PCDATA|profile|homepage|message|event|skin|language|database|user|multicast_groups|security|library|default|update_server)*>
<!ELEMENT profile (#PCDATA)>
<!ELEMENT homepage (#PCDATA)>
<!ELEMENT message (#PCDATA)>
<!ELEMENT event (template|group|role|level|safemode|type)*>
<!ELEMENT type (#PCDATA)>
<!ELEMENT safemode (#PCDATA)>
<!ELEMENT group (#PCDATA)>
<!ELEMENT role (#PCDATA)>
<!ELEMENT level (#PCDATA)>
<!ELEMENT template (#PCDATA)>
<!ELEMENT skin (directory)*>
<!ELEMENT directory (#PCDATA)>
<!ELEMENT language (#PCDATA)>
<!ELEMENT database (require_odbc|options)*>
<!ELEMENT options (ssl|persistent|autofree)*>
<!ELEMENT autofree (#PCDATA)>
<!ELEMENT persistent (#PCDATA)>
<!ELEMENT ssl (#PCDATA)>
<!ELEMENT require_odbc (#PCDATA)>
<!ELEMENT user (user_active|group|role|level)*>
<!ELEMENT group_id (#PCDATA)>
<!ELEMENT role_id (#PCDATA)>
<!ELEMENT security_level (#PCDATA)>
<!ELEMENT user_active (#PCDATA)>
<!ELEMENT multicast_groups (default|primary|config|security|write|read)*>
<!ELEMENT read (#PCDATA|default|primary|read|library|security)*>
<!ELEMENT security (#PCDATA|library|security)*>
<!ELEMENT library (#PCDATA)>
<!ELEMENT primary (#PCDATA|primary|library|security)*>
<!ELEMENT write (#PCDATA|default|primary|write|library|security)*>
<!ELEMENT config (#PCDATA|config|library|security)*>
<!ELEMENT update_server (#PCDATA)>
<!ELEMENT date (php|js)*>
<!ELEMENT js (#PCDATA)>
<!ELEMENT php (#PCDATA)>
